node_modules/

cypress/videos/
cypress/screenshots/
cypress/reports/

.env
.env.local
.env.*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store

coverage/
